{% extends 'application/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block base_title %}
    Add/Update-Task
{% endblock %}

{% block base_page_heading %}
    Add/Update Task
{% endblock %}

{% block base_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10">
                <div class="card">
                    <div class="card-body p-4">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form|crispy }}
                            <button class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}