{% extends 'application/base.html' %}
{% load static %}
{% block base_title %}Employees{% endblock %}

{% block base_page_css_links %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
{% endblock %}

{% block base_page_heading %}Your Employees{% endblock %}


{% block base_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-right mb-4">
                        <a class="btn btn-sm btn-success" href="{% url 'application:add_employee' %}"><i class="fa fa-user-plus"></i> Add Employee</a>
                    </div>
                    <div class="table-responsive mb-0">
                        <table id="employees" class="table table-striped">
                            <thead class="">
                            <tr>
                                <th data-priority="1">ID</th>
                                <th data-priority="3">Name</th>
                                <th data-priority="3">Phone</th>
                                <th data-priority="6">Email</th>
                                <th data-priority="6">Role</th>
                                <th data-priority="6">Joined</th>
                                <th data-priority="3">Status</th>
                                <th data-priority="3">Action</th>
                            </tr>
                            </thead>
                            <tbody class="small">
                            {% if employees %}
                                {% for emp in employees %}

                                    <tr>
                                        <th>{{ emp.user.pk }}</th>
                                        <td>{{ emp.user.first_name }} {{ emp.user.last_name }}</td>
                                        <td>{{ emp.contact_no }}</td>
                                        <td>{{ emp.user.email }}</td>
                                        <td>{{ emp.get_rank_display }}</td>
                                        <td>{{ emp.joined_on }}</td>
                                        <td>
                                            {% if emp.user.is_active %}
                                                <i class="fa fa-check text-success"></i>
                                            {% else %}
                                                <i class="fa fa-times text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'application:update_employee' emp.pk %}"><i
                                                    class="fa fa-edit text-primary"></i></a>
                                            <a href="{% url 'application:employee' emp.pk %}"><i
                                                    class="fa fa-chart-bar text-primary"></i></a>
                                            <a href="{% url 'application:delete_employee' emp.pk %}"><i
                                                    class="fa fa-trash text-danger"></i></a>
                                        </td>
                                    </tr>

                                {% endfor %}
                            {% endif %}
                            <!-- Repeat -->
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div> <!-- end col -->
    </div>
{% endblock %}

{% block base_page_javascript_links %}

    {# TODO: Security Leak here try to fix this issue later #}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.colVis.min.js"></script>
{% endblock %}

{% block base_page_javascript_code %}
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'colvis',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: 'Show/Hide',
                        titleAttr: 'Column Visibility'
                    },
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-copy text-dark"></i>',
                        titleAttr: 'Copy'
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-file-excel text-success"></i>',
                        titleAttr: 'Excel'
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-file text-success"></i>',
                        titleAttr: 'CSV'
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-file-pdf text-danger"></i>',
                        titleAttr: 'PDF'
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-print text-primary"></i>',
                        titleAttr: 'Print'
                    }
                ]
            })
            ;

        });
    </script>
{% endblock %}