{% extends 'application/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block base_title %}
    Project State
{% endblock %}

{% block base_no_content %}
    <div class="my-4 row justify-content-center">
        <div class="col-11 col-sm-8">
            <div class="text-center">
                <img src="{% static 'application/logo-dark.png' %}" height="60"><br>
                <p class="text-danger mt-1 mb-0"><b>Project EMS Report</b></p>
                <p class="text-muted">
                    Almost 90% project has been completed so previous help page has been removed.
                </p>
            </div>

            <hr class="border border-danger">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-5">Development Statistics</h4>
                    <div class="">
                        <ul class="verti-timeline list-unstyled">
                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bx-copy-alt h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Documentation</h5>
                                            <p class="text-muted">All required documentation has been completed</p>

                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bx-package h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Prototype</h5>
                                            <p class="text-muted">EMS prototype has been completed and ready to
                                                test, visit help page for urls</p>

                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bx-data h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Databases</h5>
                                            <p class="text-muted">All models/tables are developed and tested, ready to use.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bx-code h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Code Iteration-1</h5>
                                            <p class="text-muted">No of features and requirements has been completed, ready to test now.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bx-code h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Code Iteration-2</h5>
                                            <p class="text-muted">No of features and requirements has been completed, ready to test now.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bx-code h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Code Iteration-3</h5>
                                            <p class="text-muted">No of features and requirements has been completed, ready to test now.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bx-code h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Code Iteration-4</h5>
                                            <p class="text-muted">No of features and requirements has been completed, ready to test now.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bx-desktop h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Frontend-Theme complete</h5>
                                            <p class="text-muted">Project theme has been designed and linked successfully.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle "></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bxs-keyboard h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Code Final and Accounts</h5>
                                            <p class="text-muted">code finalized but not debugged nor tested, please report errors and bugs, for better testing at the end.</p>

                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list active">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle text-dark"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bxs-dashboard h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5 class="">Dashboard</h5>
                                            <p class="text-muted">dashboard is ready, it may be buggy now
                                                <a href="/dashboard/">Visit Here</a>,
                                                due to statistical calculations it will be completely
                                                functional at the end of of project</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="event-list active">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle bx-fade-right"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bxs-group bx-tada h2 text-primary "></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5>Debugging and Optimization</h5>
                                            <p class="text-muted">Second last iteration to check all possible errors,
                                                project performance, speed, response time etc.</p>

                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li class="event-list">
                                <div class="event-timeline-dot">
                                    <i class="bx bx-right-arrow-circle"></i>
                                </div>
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="bx bxs-lock h2 text-primary"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <h5 class="">Security Testing</h5>
                                            <p class="text-muted">Final step before launching, free security check for 5-10 possible attacks and fixing it.</p>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="border border-danger">

            <div class="text-center">
                <p class="text-muted">
                    Project is under-development so may be you are going to face no of errors, low speed,
                    on-screen errors, wrong sentences, spelling mistakes, missing images and other problems as well _
                    remember this is just a development phase we will see fast, scalable and secure product at the end.
                </p>
                <p class="my-0 card-title">Regards:</p>
                <p class="text-danger my-0"><b>EMS Development Team</b></p>
            </div>
        </div>
    </div>
{% endblock %}