{% extends 'application/base.html' %}
{% load static %}

{% block seller_base_title %}
    Performance Measures
{% endblock %}

{% block base_page_css_links %}

{% endblock %}

{% block base_page_heading %}

        10 Performance Evaluation Rules

{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="">
            <div class="card-body">
                <p class="">This <b>performance evaluation scale</b> is defining your <b>organizational rules</b> your employees will be
        evaluated on these rules, these are not final you can <a href="#"><i class="fa fa-plus"></i> Add New</a> or change them.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                1
                                            </span>
                    </div>
                    <h5 class="font-size-15">Level of execution <a href="#" class="text-dark"><i class="bx bx-edit"></i></a>
                    </h5>
                    <p class="text-muted">
                        At the end of the day, nothing is more important than execution. Once you’ve committed to doing
                        something, do you get it done on time and at a high level?

                        That’s what people on the “A Team” do, and a startup needs A players! There is always a way to
                        prioritize your tasks, be creative, and execute like crazy until you get it done. People who
                        love what they do also tend to execute well.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                2
                                            </span>
                    </div>
                    <h5 class="font-size-15">Quality of work <a href="#" class="text-dark"><i
                            class="bx bx-edit"></i></a></h5>
                    <p class="text-muted">
                        In the world of web and hosting, our most important data point is the quality of work that our
                        employees create.

                        This is measured through regular review of our client deliverables, their role in client
                        efforts, stability of the production changes/platform, best practices, and feedback from the
                        client.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                3
                                            </span>
                    </div>
                    <h5 class="font-size-15">Level of creativity <a href="#" class="text-dark"><i
                            class="bx bx-edit"></i></a></h5>
                    <p class="text-muted">
                        Creativity is one of the most important points in evaluating employee performance.

                        How often did the employee question basic assumptions about a problem and come up with a new
                        solution? Did they think outside of the box and successfully take risks on their own?

                        By keeping track of the incidents of creative, well-informed risk-taking, we can identify and
                        reward high performers in a meaningful way.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                4
                                            </span>
                    </div>
                    <h5 class="font-size-15">Amount of consistent improvement <a href="#" class="text-dark"><i
                            class="bx bx-edit"></i></a></h5>
                    <p class="text-muted">
                        Consistent improvement across the board is the most important factor in performance evaluation
                        for me at Marbaloo Marketing.

                        No employee has the capacity to be truly excellent at every evaluation point on our quarterly
                        review form; however, every employee has the opportunity to improve each day, month, quarter,
                        and year.

                        The desire and effort to become better is the most rewardable quality in my eyes.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                5
                                            </span>
                    </div>
                    <h5 class="font-size-15">Amount of consistent improvement <a href="#" class="text-dark"><i
                            class="bx bx-edit"></i></a></h5>
                    <p class="text-muted">
                        Consistent improvement across the board is the most important factor in performance evaluation
                        for me at Marbaloo Marketing.

                        No employee has the capacity to be truly excellent at every evaluation point on our quarterly
                        review form; however, every employee has the opportunity to improve each day, month, quarter,
                        and year.

                        The desire and effort to become better is the most rewardable quality in my eyes.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                6
                                            </span>
                    </div>
                    <h5 class="font-size-15">Sales revenue generated <a href="#" class="text-dark"><i
                            class="bx bx-edit"></i></a></h5>
                    <p class="text-muted">
                        The revenue that each employee brings in on a monthly basis reflects on that individual’s
                        overall performance.

                        The majority of our company is made up of sales representatives, and they are measured by the
                        total number of venues they sign up to be listed on our site, which translates into how much
                        revenue is made from those venues.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                7
                                            </span>
                    </div>
                    <h5 class="font-size-15">Responsiveness to feedback <a href="#" class="text-dark"><i
                            class="bx bx-edit"></i></a></h5>
                    <p class="text-muted">
                        If an employee is doing something incorrectly, I don’t want to hear excuses or justifications.

                        However, I also don’t want my staff member to blindly and soullessly adjust to my comments. My
                        ideal worker would take feedback and really think critically, such that he understands why he is
                        being asked to change. Or he has a two-way conversation with me about what is working and what
                        is not.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                8
                                            </span>
                    </div>
                    <h5 class="font-size-15">Ability to take ownership <a href="#" class="text-dark"><i
                            class="bx bx-edit"></i></a></h5>
                    <p class="text-muted">
                        An employee who takes ownership of assigned tasks and can figure out how to get things done is a
                        great asset.

                        This is very important for early stage companies, as people who take ownership can help you move
                        a lot faster as they can overcome challenges and remove roadblocks.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                9
                                            </span>
                    </div>
                    <h5 class="font-size-15">Percentage of tasks completed on time <a href="#" class="text-dark"><i
                            class="bx bx-edit"></i></a></h5>
                    <p class="text-muted">
                        Each team member must maintain an up-to-date task list that they can use to monitor their
                        deliverables and measure their progress.

                        When evaluating the employee’s performance, check their rate of completion and evaluate the
                        quality of their tasks to ensure they are working on things that are in line with the growth of
                        the company.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                10
                                            </span>
                    </div>
                    <h5 class="font-size-15">Percentage of tasks completed on time <a href="#" class="text-dark"><i
                            class="bx bx-edit"></i></a></h5>
                    <p class="text-muted">
                        We go by delivering on time/on budget. So we track every project and deliverable and determine
                        whether it is on time and on budget. We consider the person responsible’s time as part of the
                        budget.

                        As long as it’s both, we are good. When it’s not, we discuss.
                    </p>

                </div>
            </div>
        </div>


    </div>

{% endblock %}


{% block base_page_javascript_links %}

{% endblock %}